/*
##################
!.gitignore
##################
!gradle
!gradlew
!gradlew.bat
#!gradle.properties
!settings.gradle
!build.gradle
##################
!src
!res
!assets
!libs
!jniLibs
!AndroidManifest.xml
##################